<h2>Editing <%= singular_name.humanize.capitalize %></h2>

<%%= admin_controls :<%= table_name %>, :for => :edit, :object => @<%= singular_name %> %>

<%%= error_messages_for :<%= singular_name %> %>

<%% form_for(@<%= singular_name %>) do |f| %>
  <%%= render :partial => 'form', :locals => {:f => f, :<%= singular_name %> => @<%= singular_name %>} %>
  <p><%%= f.submit "Update" %></p>
<%% end %>

<%%= admin_controls :<%= table_name %>, :for => :edit, :object => @<%= singular_name %> %>