<h2><%= model_human_name %>: Edit</h2>

<%= admin_controls model_instance_name, :for => :edit %>

<%= error_messages_for model_instance_name %>

<% form_for(qadmin_configuration.form_instance_for(@model_instance), :html => {:multipart => qadmin_configuration.multipart_forms}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, model_instance_name.to_sym => @model_instance} %>
  <p><%= f.submit "Update" %></p>
<% end %>

<%= admin_controls model_instance_name, :for => :edit %>
