<h2><%= model_human_name.pluralize %></h2>

<%= admin_controls model_collection_name, :for => :index %>

<%= will_paginate(@model_collection) %>
<%= admin_table(@model_collection) %>
<%= will_paginate(@model_collection) %>

<%= admin_controls model_collection_name, :for => :index %>
