<h2><%= qadmin_configuration.parent ? "#{parent_instance}: " : '' %><%= model_human_name.pluralize %></h2>

<%= admin_controls model_instance_name, :for => :index %>

<%= admin_pagination(@model_collection) %>
<%= admin_table(@model_collection, :for => :index, :row_controls => qadmin_configuration.on_index.row_controls) %>
<%= admin_pagination(@model_collection) %>

<%= admin_controls model_instance_name, :for => :index %>
