<h2><%= model_human_name %>: New</h2>

<%= admin_controls model_collection_name, :for => :new %>

<%= error_messages_for model_instance_name %>

<% form_for(@model_instance) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, model_instance_name.to_sym => @model_instance} %>
  <p><%= f.submit "Create" %></p>
<% end %>

<%= admin_controls model_collection_name, :for => :new %>
