<h2><%= model_human_name.pluralize %>: <%= @model_instance.to_s %></h2>

<%= admin_controls model_instance_name, :for => :show, :object => @model_instance %>

<%= render :partial => model_instance_name, :object => @model_instance %>

<%= admin_controls model_instance_name, :for => :show, :object => @model_instance %>