<h2><%= model_human_name.pluralize %>: <%= @model_instance.to_s %></h2>

<%= admin_controls model_collection_name, :for => :show, :object => @model_instance %>

<div id="<%= dom_id(@model_instance) %>">
	<div class="fields_group">
	</div>
</div>

<%= admin_controls model_collection_name, :for => :show, :object => @model_instance %>
