<h2><%= model_human_name.pluralize %>: <%= @model_instance.to_s %></h2>

<%= admin_controls model_instance_name, :for => :show %>

  <%=
    begin
      render model_instance_name, :object => @model_instance
    rescue ActionView::MissingTemplate, Errno::ENOENT => e
      logger.warn e
      render 'default/instance', :object => @model_instance
    end
  %>

<%= admin_controls model_instance_name, :for => :show %>
